.header {
  background-color: var(--background-1);
  box-shadow: 0 0 16px var(--border-2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header__logo {
  width: 121px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-p {
  font-family: var(--font_roboto);
  font-size: 16px;
  line-height: 19px;
  color: var(--color-1);
  padding: 0 9px;
}

.delivery__time {
  padding: 8px 12px;
  border: 1px solid var(--border-1);
  border-radius: 2px;
  font-family: var(--font_roboto);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-2);
  text-decoration: none;
}

.time-p {
  margin: 0;
}

.delivery__address-input {
  padding: 8px 12px;
  border: 1px solid var(--border-1);
  border-radius: 2px;
  font-family: var(--font_roboto);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-2);
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sing-in {
  width: auto;
  margin: 0 8px;
  padding: 8px 12px;
  border: 1px solid var(--border-1);
  border-radius: 2px;
  text-decoration: none;
  font-family: var(--font_roboto);
  font-size: 16px;
  line-height: 24px;
  color: var(--color-2);
  background-color: var(--background-1);
}

.register {
  width: auto;
  margin: 0 8px;
  padding: 8px 12px;
  border: 1px solid var(--background-3);
  border-radius: 2px;
  text-decoration: none;
  font-family: var(--font_roboto);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--background-3);
  color: var(--background-1);
}

.basket {
  padding: 8px 12px;
  text-decoration: none;
}
