.preview {
  margin-top: 48px;
  background-image: url(../img/preview.png);
  background-size: cover;
}

.preview-inner {
  padding: 80px 0;
}

.preview__cart {
  padding: 38px;
  background-color: var(--background-1);
}

.preview__cart-h2 {
  font-family: var(--ropboto);
  font-size: 36px;
  line-height: 42px;
  color: var(--color-2);
}

.preview__cart__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-family: var(--ropboto);
  font-size: 14px;
  line-height: 16px;
  color: var(--color-1);
}

.footer-text:before {
  content: "₽₽₽ • ";
}

.footer-button {
  width: 97px;
  height: 32px;
  background-color: var(--background-3);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button-p {
  font-family: var(--ropboto);
  font-size: 13px;
  line-height: 15px;
  color: var(--background-1);
}
