@import "css/header.css";
@import "css/search.css";
@import "css/main.css";
@import "css/cart.css";
@import "css/footer.css";
@import "css/preview.css";
@import "css/sidebar.css";
@import "css/restaurant-content.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --ropboto: "Roboto";
  --background-1: #fff;
  --background-2: #f2f2f2;
  --background-3: #262626;
  --background-4: #3b3b3b;
  --background-5: #000;
  --background-6: #59bd5a;
  --background-7: #757575;
  --border-1: #e0e0e0;
  --border-2: rgba(38, 38, 38, 0.16);
  --border-3: rgba(117, 117, 117, 0.3);
  --border-4: rgba(117, 117, 117, 0.2);
  --font_roboto: roboto;
  --color-1: #626262;
  --color-2: #1d1d1d;
  --color-3: #49a144;
  --color-4: #327430;
}

.wrapper {
  width: 100%;
  max-width: 956px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  width: 32.5%;
}
